/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:visited, a:hover {
  text-decoration: none; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.row:after,
.clearfix:after {
  clear: both; }

.row,
.clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

body {
  font-family: "Roboto", sans-serif;
  color: #3c3c3c;
  font-size: 14px;
  background-color: #efebeb;
  line-height: 1.3em; }

.fullPageWrapper {
  width: 100%; }

.wrapper {
  width: 96%;
  max-width: 1024px;
  margin: 0 auto; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 20px; }

#header {
  height: 50px;
  background-color: #af4d4d; }
  #header .wrapper {
    display: table;
    height: 50px;
    position: relative; }
    #header .wrapper .logo {
      display: table-cell;
      vertical-align: middle; }
      #header .wrapper .logo img {
        height: 40px; }
    #header .wrapper nav {
      display: table-cell;
      vertical-align: middle; }
      #header .wrapper nav ul {
        float: right; }
        #header .wrapper nav ul li {
          float: left;
          margin-left: 20px; }
          #header .wrapper nav ul li a {
            color: #fff;
            font-size: 16px; }

.mobilemenu {
  position: absolute;
  right: 0;
  top: 0;
  display: none; }

/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .mobilemenu {
    display: block !important; }

  #header .wrapper nav ul {
    display: none !important; } }
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
footer {
  height: 60px;
  display: table;
  background-color: #494949;
  position: relative; }
  footer .footerInner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff; }
  footer .socialMedia {
    position: absolute;
    right: 0;
    top: 15px; }
    footer .socialMedia a {
      display: inline-block;
      margin-right: 10px; }
    footer .socialMedia img {
      height: 30px; }

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .footerInner {
    text-align: left !important; } }
.topContent {
  background-color: #c8c8c8;
  box-sizing: border-box;
  padding: 80px 0; }
  .topContent .wrapper {
    display: table;
    table-layout: fixed; }
    .topContent .wrapper .topContentInner {
      display: table-cell;
      width: 50%;
      vertical-align: middle; }
    .topContent .wrapper .topContentInner:first-child {
      width: 30%; }
      .topContent .wrapper .topContentInner:first-child img {
        width: 100%;
        max-width: 300px; }
    .topContent .wrapper .topContentInner:last-child {
      box-sizing: border-box;
      padding-left: 5%;
      width: 60%;
      vertical-align: top;
      font-size: 20px;
      line-height: 1.3em; }
      .topContent .wrapper .topContentInner:last-child span {
        display: block;
        margin-top: 20px; }

.midContent {
  box-sizing: border-box;
  padding: 80px 0; }
  .midContent .wrapper {
    display: table; }
  .midContent .midContentInner {
    display: table-cell;
    vertical-align: bottom;
    text-align: center; }
    .midContent .midContentInner span.midContentImage {
      display: block;
      text-align: center; }
    .midContent .midContentInner span.midContentText {
      color: #af4d4d;
      font-size: 18px;
      margin-top: 30px;
      display: block; }

.bottomContent {
  box-sizing: border-box;
  padding: 100px 0; }
  .bottomContent .bottomContentInner {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 0 2% 0 0; }
    .bottomContent .bottomContentInner .feature {
      width: 100%;
      float: left;
      display: table;
      table-layout: fixed;
      margin-top: 50px; }
      .bottomContent .bottomContentInner .feature .featureContent:first-child {
        display: table-cell;
        vertical-align: bottom;
        width: 80px;
        text-aling: center; }
        .bottomContent .bottomContentInner .feature .featureContent:first-child img {
          width: 90%; }
      .bottomContent .bottomContentInner .feature .featureContent:last-child {
        box-sizing: border-box;
        padding-left: 10px;
        display: table-cell;
        vertical-align: top; }
        .bottomContent .bottomContentInner .feature .featureContent:last-child h3 {
          font-weight: 300; }
        .bottomContent .bottomContentInner .feature .featureContent:last-child span {
          display: block;
          margin-top: 10px; }
    .bottomContent .bottomContentInner .feature:first-child {
      margin-top: 60px !important; }
    .bottomContent .bottomContentInner .news {
      margin-top: 50px; }
    .bottomContent .bottomContentInner .newsArticle {
      margin-top: 62px;
      font-size: 15px; }
      .bottomContent .bottomContentInner .newsArticle span {
        font-weight: bold;
        color: #af4d4d; }

/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 24px !important; }

  .topContentInner {
    float: left !important;
    width: 100% !important; }

  .topContentInner:first-child {
    text-align: center !important; }
    .topContentInner:first-child img {
      width: 70% !important; }

  .topContentInner:last-child {
    font-size: 16px !important;
    padding-top: 40px !important; }

  .midContentInner {
    width: 100%;
    float: left;
    margin-top: 60px; }

  .midContentInner:first-child {
    margin-top: 0 !important; }

  .bottomContent {
    padding: 40px 0; }
    .bottomContent .bottomContentInner {
      width: 100%; }
      .bottomContent .bottomContentInner h2 {
        display: block;
        text-align: center; }
    .bottomContent .bottomContentInner:last-child {
      margin-top: 60px; } }
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

/*# sourceMappingURL=homepage.css.map */
