#header{
    height: 50px;
    background-color: #af4d4d;

    .wrapper{
        display: table;
        height:50px;
        position:relative;

        .logo{
            display: table-cell;
            vertical-align: middle;

            img{
                height: 40px;
            }
        }

        nav{
            display: table-cell;
            vertical-align: middle;

            ul{
                float:right;

                li{
                    float: left;
                    margin-left: 20px;

                    a{
                        color:#fff;
                        font-size: $menu-font-size;
                    }
                }
            }
        }
    }
}

.mobilemenu{
    position: absolute;
    right: 0;
    top:0;
    display: none;

}




/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen  and (max-width: 959px) {

}

/* All Mobile Sizes (devices and browser) */    
@media only screen and (max-width: 767px) {
    .mobilemenu{
        display: block !important;
    }

    #header{
        .wrapper{
            nav{
                ul{
                    display: none !important;
                }

                ul.visible{
                    display: block !important;
                    position: absolute;
                    z-index: 999;
                    left:0;
                    right: 0;
                    margin-left:auto;
                    margin-right: auto;
                    margin-top: 25px;
                    background-color: #af4d4d;
                    width:100%;

                    li{
                        width:100%;
                        text-align: center;
                        margin: 10px 0;
                    }
                }
            }
        }

    }



}



/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}